#CEO-intro{
   margin-bottom: 25px;
}

#CEO-content img {
    display: block;
    margin: auto;
}

@media(max-width: 1024px){
    #CEO-content img {
        margin: 0px auto;
        width: 130px;
    }               
}



