#CEO-intro {
  margin-bottom: 25px;
}

#CEO-content img {
  display: block;
  margin: auto;
}

@media (max-width: 1024px) {
  #CEO-content img {
    margin: 0px auto;
    width: 130px;
  }
}

@media (min-width: 1024px) {
  .news-item {
    padding: 10px 0 10px 25px;
    margin-right: 5px;
    overflow: auto;
    font-size: 15px;
  }
  #news-events-title {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 25px;
  }
  #more-news-and-events {
    margin-bottom: 19px;
    margin-top: 30px;
    margin-left: 25px;
  }
  .news-item img {
    margin-right: 15px;
    float: left;
    width: 130px;
  }
  #newsCustomScrollBar {
    height: 310px;
    overflow-y: scroll;
  }
  #newsCustomScrollBar .jspVerticalBar {
    width: 8px;
  }
  #newsCustomScrollBar .jspTrack {
    width: 8px;
  }
  #newsCustomScrollBar .jspDrag {
    width: 8px;
  }
  .news-item-div {
    overflow: auto;
    display: table;
  }
  .item-Title {
    display: table-cell;
    vertical-align: middle;
  }
  #aside-news {
    padding-right: 10px !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 1024px) {
  .news-item, .news-title {
    display: inline-block;
    margin: 1em;
    vertical-align: top;
  }
  .news-title {
    margin-top: 0 !important;
  }
  #newsCustomScrollBar {
    height: 170px;
    white-space: nowrap;
    overflow-x: scroll;
  }
  #news-events-title {
    float: left;
    width: 116px;
  }
  #news-events-title h1 {
    font-size: 25px !important;
  }
  #aside-news {
    padding: 15px 60px 12px 60px;
  }
  .news-item {
    font-size: 11px;
    width: 150px;
  }
  .news-item img {
    width: 150px;
    margin-bottom: 8px;
  }
  #more-news-and-events {
    display: none;
  }
  .item-Title {
    white-space: normal;
  }
  .item-Title:before {
    content: "\000A";
    white-space: pre;
  }
  #newsCustomScrollBar .jspHorizontalBar {
    height: 7px;
  }
  #newsCustomScrollBar .jspTrack {
    height: 7px;
  }
  #newsCustomScrollBar .jspDrag {
    height: 7px;
  }
  #item-0 {
    margin-left: 0;
  }
  #item-3 {
    margin-right: 0;
  }
  .h1PartialUnderline::after {
    width: 60px !important;
  }
}

#centralNewsItem {
  padding: 0;
}

#centralNewsItem img {
  width: 100%;
}

#aside-news {
  background: -moz-linear-gradient(top right, #D7D3D2, #F5F5F5);
  background-image: linear-gradient(to bottom, #D7D3D2, #F5F5F5);
  background: -webkit-linear-gradient(#D7D3D2, #F5F5F5);
}

.newsAnchor {
  color: #00833F !important;
}

.carButtons {
  float: left;
  font-size: 41px;
  margin-right: 2px;
  border: 1px solid;
  width: 62px;
  text-align: center;
  background-color: #CCCFCE;
  border: none;
  height: 60px;
  position: relative;
}

.carButtons:hover {
  text-decoration: none;
  background-color: gray;
}

#buttons {
  background-color: rgba(241, 238, 235, 0.9);
  background: rgba(241, 238, 235, 0.9);
  overflow: auto;
  margin-top: -60px;
  position: relative;
}

#centralElementTitle {
  font-size: 18px;
  float: left;
  padding-left: 15px;
  padding-top: 15px;
  cursor: pointer;
}

.carButtons a {
  color: white;
}

.carButtons a, a:hover, a:visited, a:link, a:active {
  color: white;
  text-decoration: none !important;
}

.active-item {
  color: #12935B !important;
  background-color: #F9F9F9;
}

#newsCustomScrollBar .jspVerticalBar {
  border-radius: 15px;
  background-color: #DADADA;
}

#newsCustomScrollBar .jspHorizontalBar {
  border-radius: 15px;
  background-color: #DADADA;
}

#newsCustomScrollBar .jspTrack {
  background-color: #DADADA;
  border-radius: 15px;
}

#newsCustomScrollBar .jspDrag {
  background-color: #FFFFFF;
  border-radius: 15px;
}

.news-item {
  color: #7D8180;
}

.no-items {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  height: 509px;
}

.news-item:hover {
  cursor: pointer;
}

#phonebook-title {
  background-color: #00833F;
  padding: 20px;
  color: white;
}

#phonebook-search {
  margin-left: -15px;
  margin-right: -15px;
}

#phonebook-title h3 {
  margin: 0;
}

#phonebook-searchbox {
  background-color: #14945D;
  padding: 15px;
}

#SearchTextInput {
  width: 100%;
  border-radius: 9px;
  height: 50px;
  background-color: #FFF;
  background-image: url("/_layouts/15/RQHRPortal/Images/Shape 2.png");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  font-size: 16px;
  color: black;
}

#phonebook-search-results {
  padding-top: 15px;
}

.phonebook-item {
  margin-bottom: 25px;
}

.phonebook-item-picture-name img {
  border-radius: 5px;
  float: left;
  margin-right: 15px;
  background-color: #DDDDDD;
}

.phonebook-item-name h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #00833F;
}

.phonebook-item-name p {
  font-style: italic;
  font-size: 16px;
  color: #B0B5B3;
}

.phonebook-item-details {
  clear: both;
  margin-top: 25px;
}

.phone-number {
  background-image: url("/_layouts/15/RQHRPortal/Images/phone.png");
  background-repeat: no-repeat;
  padding-left: 23px;
}

.email {
  background-image: url("/_layouts/15/RQHRPortal/Images/mail.png");
  background-repeat: no-repeat;
  padding-left: 23px;
}

#see-more {
  color: #00833F;
  text-align: center;
}

@media (min-width: 1024px) {
  #firstRow, #secondRow {
    margin: 0 !important;
  }
  #secondRow {
    padding-bottom: 45px;
  }
  #secondRowFirstColumn {
    padding: 0 !important;
  }
}

@media (max-width: 1024px) {
  #secondRowFirstColumn {
    width: 60% !important;
    float: left !important;
  }
  #secondRowSecondColumn {
    width: 40% !important;
    float: left !important;
  }
}

#secondRowFirstColumn {
  padding: 0 !important;
}

#secondRowSecondColumn {
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .content-picture img {
    width: 415px;
  }
  .other-content-items {
    width: 185px;
  }
  .other-content-items img {
    width: 185px;
  }
  #video-webpart-wrapper {
    padding-left: 30px;
    padding-right: 45px;
    padding-top: 20px;
  }
}

@media (min-width: 1024px) {
  #video-webpart-wrapper {
    padding-left: 0;
    padding-right: 45px;
    padding-top: 45px;
  }
}

#video-webpart-tabs {
  border-bottom: 2px solid #CED0CF;
  margin-bottom: 15px;
}

#video-webpart-tabs li {
  font-size: 20px;
}

#video-webpart-tabs li a {
  color: #7C817E;
}

.rqhr-button {
  color: #FFFFFF;
  background-color: #00833F;
}

.other-content-items {
  display: inline-block;
  margin-right: 15px;
}

.content-title {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #00833F;
}

.navCurrentVideoItem {
  height: 3px;
}

.activeAnchor {
  color: black !important;
}

#ms-help {
  padding-top: 4px;
  margin-left: 10px;
}

.ms-siteactions-normal {
  width: 30px;
  margin-top: -2px;
}

.ms-welcome-hover, .ms-siteactions-hover {
  border: none !important;
}

#headerDiv {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ms-cui-topBar2.ms-cui-topBarMaximized {
  background-color: #1F2120;
}

#globalNavBox {
  background-color: #1F2120;
}

.ms-cui-tt-a {
  font-weight: bold;
}

.ms-cui-tt-a > .ms-cui-tt-span {
  color: white !important;
}

.Footer {
  padding-left: 300px;
  padding-top: 48px;
  height: 150px;
  background-color: #1F2120;
}

.footer-img {
  background-color: #1F2120;
}

#s4-bodyContainer {
  padding-bottom: 0;
}

.ms-cui-topBar2.ms-cui-topBarMaximized {
  border-bottom: none !important;
}

.ms-cui-topBar2 {
  border-bottom: none !important;
}

.ms-cui-tabContainer {
  margin-top: 1px;
}

#DeltaSPRibbon {
  border-bottom: 0 !important;
}

.ms-cui-tabBody {
  border-bottom: none !important;
}

#myNavbar {
  border-radius: 0 !important;
  background-color: #ECECEC;
  border-color: #ECECEC;
  margin-bottom: 0;
}

.page-footer {
  background-color: #1F2120;
  height: 150px;
  padding-top: 50px;
}

.activeNavItem {
  height: 3px;
  background-color: green;
}

.navCurrentItem {
  height: 3px;
}

#searchInputBox {
  background-color: white !important;
  margin-top: 15px;
  border-radius: 5px;
}

#ctl00_SmallSearchInputBox1_csr_sboxdiv {
  border-radius: 5px;
}

.ms-srch-sb-border {
  border: none !important;
}

.navigationContainer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1280px;
}

@media (min-width: 1024px) {
  .ms-srch-sb > input {
    width: 120px;
  }
}

@media (max-width: 1024px) {
  .ms-srch-sb > input {
    width: 22px;
  }
  .navLink {
    width: 89px;
    text-align: center;
  }
  .navContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
  }
  .mainDiv {
    width: 100% !important;
  }
  #leftSecondaryContainer {
    width: 10000px;
  }
  #leftMainContainer {
    overflow-x: scroll;
    overflow-y: hidden !important;
  }
}

.navLink {
  color: #1F2120 !important;
}

#leftMainContainer {
  overflow-y: scroll;
}

/* Hide Site Actions gear icon */
.ms-siteactions-imgspan {
  display: none;
}

/* Insert new Site Actions image */
.ms-siteactions-normal > a:before {
  content: "";
  /* Required for pseudo element */
  background: url("/_layouts/15/RQHRPortal/Images/actions.png");
  /* Image URL */
  height: 18px;
  /* Height of image */
  width: 20px;
  /* Width of image */
  display: block;
  /* Forces respect of width and height */
}

/* Set Site Actions image hover */
.ms-siteactions-normal > a:hover:before {
  background: url("/_layouts/15/RQHRPortal/Images/hoverActionTest.png");
  /* Hover image URL */
}

/* Remove OOTB Site Actions hover */
.ms-siteactions-hover {
  background: transparent;
  border-right-color: transparent;
}

[id*=TopHelpLink] {
  background: url(/_layouts/15/RQHRPortal/Images/helpIcon.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

[id*=TopHelpLink]:hover {
  background: url(/_layouts/15/RQHRPortal/Images/helpIconHover.png);
}

[id*=CustomNotifications] {
  background: url(/_layouts/15/RQHRPortal/Images/notificationsIcon.png);
  background-repeat: no-repeat;
  margin-top: 6px;
}

[id*=CustomNotifications]:hover {
  background: url(/_layouts/15/RQHRPortal/Images/notificationsIconHover.png);
}

#suiteBarButtons {
  margin-left: 40px;
}

#siteactiontd {
  margin-left: 6px;
}

.nav-footer ul li {
  display: inline-block;
  margin-right: 25px;
}

#footer-links {
  float: right;
  padding-top: 10px;
}

#footer-links a {
  color: #00833F;
}

.ms-webpartPage-root {
  border-spacing: 0 !important;
}

.ms-webpartzone-cell {
  margin: 0 !important;
}

.navbar-collapse.collapse {
  display: block !important;
}

.navbar-collapse {
  border: none !important;
}

.navbar-nav > li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right !important;
}

.webpart-wrapper {
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.h5PartialUnderline::after, .h1PartialUnderline::after, .h3PartialUnderline:after {
  content: "";
  display: block;
  background-color: #B0B4B3;
  height: 5px;
}

.h5PartialUnderline::after {
  margin-top: 7px;
  width: 30px;
}

.h1PartialUnderline::after {
  width: 90px;
  margin-top: 5px;
}

.h3PartialUnderline:after {
  background-color: #14945D !important;
  margin-top: 5px !important;
  width: 30px;
}

.nopadding {
  padding: 0 !important;
}

#testDropDown {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  position: fixed;
  width: 900px;
  z-index: 1;
  color: white;
  display: none;
  background-color: #00833F;
  padding: 10px;
}

.departmentDropdownItems {
  margin-left: 5px;
  line-height: 70%;
}

.departmentCharacter {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0;
}

.firstCharacter {
  margin-top: 0;
}

#testDropDown a:hover {
  color: white;
}

.news-page-image {
  width: 450px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.news-page-title {
  margin-bottom: 25px;
}

/*# sourceMappingURL=style.css.map */